a2wsgi==1.10.10
aiodns==3.5.0
atheris==2.3.0
boto3==1.28.73
Brotli==1.1.0
brotlicffi==1.1.0.0
cffi==2.0.0
chardet==3.0.4
contextlib2==21.6.0
curio==1.6
Cython==3.0.11
docutils==0.22.2
email_validator==2.3.0
eval_type_backport==0.2.2
exceptiongroup==1.3.0
fqdn==1.5.1
gunicorn==20.1.0
h2==4.3.0
httptools==0.6.4
hypothesis==6.140.2
importlib_resources==6.5.2
ipython==8.12.3
ipywidgets==8.0.6
isoduration==20.11.0
itsdangerous==2.2.0
Jinja2==3.1.2
js==1.0
jsonpath_ng==1.7.0
jsonpointer==2.4
linkify_it_py==2.0.2
mask==1.0.0
mypy_boto3_secretsmanager==1.40.0
numpy==2.3.3
outcome==1.2.0
Pillow==9.5.0
Pillow==11.3.0
protobuf==6.32.1
pyodide==0.0.2
PyOpenGL==3.1.10
pyOpenSSL==25.3.0
pyperf==2.9.0
pytest==8.4.2
python_bcrypt==0.3.2
python_socks==2.7.2
pywin32==311
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
rfc3987_syntax==1.1.0
setuptools==80.9.0
simplejson==3.20.2
socksio==1.0.0
speedups==1.4.0
Sphinx==8.2.3
tomli==2.2.1
uri_template==1.2.0
watchfiles==1.1.0
webcolors==1.13
Werkzeug==2.3.4
wsproto==1.2.0
zstandard==0.25.0
